.App {
  text-align: center;
}
.addForm {
  padding-top: 2%;
}

/* Reset default print styles */
@media print {
  body, html {
    margin: 0;
    padding: 0;
  }

  /* Set page size and margins */
  @page {
    size: auto; /* auto is the initial value */
    margin: 20mm; /* this affects the margin in the printer settings */
  }

  /* Hide unnecessary elements */
  .header, .footer, .printHide, .ad, .button {
    display: none !important;
  }

  /* Set font size and color */
  body {
    font-size: 12pt;
    color: black;
    background-color: white;
  }

  /* Style list items */
  ul, ol {
    padding-left: 20px;
  }

  li {
    margin-bottom: 5px;
  }
}
